[Unit]
Description=ble2mqttheartbeat Service
After=network.target
[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/ble2mqtt
ExecStart=/usr/bin/python3 /home/pi/ble2mqtt/heartbeat.py
Restart=always
[Install]
WantedBy=multi-user.target